<div class="container-fluid mt-5">
  <div class="row">
    <div class="offset-md-1 col-md-3">
      <img src="https://talkinganurag.files.wordpress.com/2020/06/razorpay.jpg?w=640" height="112" width="320" />
    </div>
    <div class="col-md-7">
      <h3>Buy this Stuff</h3>
      <h5>₹89,9500.00</h5>
      <p class="mt-3">
        Razorpay is the only payments solution in India that allows businesses to accept, process and disburse payments
        with its product suite. It gives you access to all payment modes including credit card, debit card, netbanking,
        UPI and popular wallets including JioMoney, Mobikwik, Airtel Money, FreeCharge, Ola Money and PayZapp.

        Razorpay’s business banking arm, RazorpayX, brings effectiveness, efficiency and excellence to all financial
        processes. With RazorpayX, businesses can get access to fully-functional current accounts, supercharge their
        payouts and automate payroll compliance.

        Manage your marketplace, automate bank transfers, collect recurring payments, share invoices with customers and
        avail working capital loans - all from a single platform. Fast forward your business with Razorpay.
      </p>
      <div class="mt-2">
        <button class="btn btn-primary" (click)="checkout()">Checkout with Razorpay</button>
      </div>
    </div>
  </div>
</div>
